## Logistic Regression Model for Alphabet Soup Charity

In [6]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
from sklearn.model_selection import train_test_split

In [2]:
# Read in preprocssed application data
preprocessed_df = pd.read_csv('datasets/pre_processed_dataframe.csv')
preprocessed_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [3]:
preprocessed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATUS                        34299 non-null  int64
 1   ASK_AMT                       34299 non-null  int64
 2   IS_SUCCESSFUL                 34299 non-null  int64
 3   APPLICATION_TYPE_Other        34299 non-null  float64
 4   APPLICATION_TYPE_T10          34299 non-null  float64
 5   APPLICATION_TYPE_T19          34299 non-null  float64
 6   APPLICATION_TYPE_T3           34299 non-null  float64
 7   APPLICATION_TYPE_T4           34299 non-null  float64
 8   APPLICATION_TYPE_T5           34299 non-null  float64
 9   APPLICATION_TYPE_T6           34299 non-null  float64
 10  APPLICATION_TYPE_T7           34299 non-null  float64
 11  APPLICATION_TYPE_T8           34299 non-null  float64
 12  AFFILIATION_CompanySponsored  34299 non-null  float64
 13  AFFILIATION_Family/Parent     34299 non-null  float64
 14  AFFILIATION_Independent       34299 non-null  float64
 15  AFFILIATION_National          34299 non-null  float64
 16  AFFILIATION_Other             34299 non-null  float64
 17  AFFILIATION_Regional          34299 non-null  float64
 18  CLASSIFICATION_C1000          34299 non-null  float64
 19  CLASSIFICATION_C1200          34299 non-null  float64
 20  CLASSIFICATION_C2000          34299 non-null  float64
 21  CLASSIFICATION_C2100          34299 non-null  float64
 22  CLASSIFICATION_C3000          34299 non-null  float64
 23  CLASSIFICATION_Other          34299 non-null  float64
 24  USE_CASE_CommunityServ        34299 non-null  float64
 25  USE_CASE_Heathcare            34299 non-null  float64
 26  USE_CASE_Other                34299 non-null  float64
 27  USE_CASE_Preservation         34299 non-null  float64
 28  USE_CASE_ProductDev           34299 non-null  float64
 29  ORGANIZATION_Association      34299 non-null  float64
 30  ORGANIZATION_Co-operative     34299 non-null  float64
 31  ORGANIZATION_Corporation      34299 non-null  float64
 32  ORGANIZATION_Trust            34299 non-null  float64
 33  INCOME_AMT_0                  34299 non-null  float64
 34  INCOME_AMT_1-9999             34299 non-null  float64
 35  INCOME_AMT_10000-24999        34299 non-null  float64
 36  INCOME_AMT_100000-499999      34299 non-null  float64
 37  INCOME_AMT_10M-50M            34299 non-null  float64
 38  INCOME_AMT_1M-5M              34299 non-null  float64
 39  INCOME_AMT_25000-99999        34299 non-null  float64
 40  INCOME_AMT_50M+               34299 non-null  float64
 41  INCOME_AMT_5M-10M             34299 non-null  float64
 42  SPECIAL_CONSIDERATIONS_N      34299 non-null  float64
 43  SPECIAL_CONSIDERATIONS_Y      34299 non-null  float64
dtypes: float64(41), int64(3)
memory usage: 11.5 MB

In [8]:
# Split preprocessed data into our features and target arrays
y = preprocessed_df.IS_SUCCESSFUL.values
X = preprocessed_df.drop(columns=['IS_SUCCESSFUL'], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_test, X_train, y_test, y_train = train_test_split(X, y, random_state=78)

In [10]:
X_train.shape

(8575, 43)

In [12]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()

In [13]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [14]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.4668221574344023
Testing Data Score: 0.4678510340538019